In [1]:
import pandas as pd                 # 01
import matplotlib.pyplot as plt     # 02
import numpy as np                  # 03
import datetime                     # 04

## 04
## to get a year and month

## DATA INPUT

### There are 2 files
    # 01 - Data generated between 2015-01-01 to 2018-12-31
    # 02 - Data generated between 2019-01-01 to 2022-04-01

In [2]:
path_to_csv_01 = "C:\\Users\\JorgePalacios\\Downloads\\ESTUDIOS_SYGRIS\\MAESTRIA_DATA_SCIENCE\\TFM\\DATA\\DATA_2015_2018.csv"
path_to_csv_02 = "C:\\Users\\JorgePalacios\\Downloads\\ESTUDIOS_SYGRIS\\MAESTRIA_DATA_SCIENCE\\TFM\\DATA\\DATA_2019_2022.csv"
path_to_csv_03 = "C:\\Users\\JorgePalacios\\Downloads\\ESTUDIOS_SYGRIS\\MAESTRIA_DATA_SCIENCE\\TFM\\DATA\\DATA_HISTORY_EXCHANGE.csv"
df_01 = pd.read_csv(path_to_csv_01,  sep=';')
df_02 = pd.read_csv(path_to_csv_02,  sep=';')
df_03 = pd.read_csv(path_to_csv_03,  sep=',')

C:\Users\JorgePalacios\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_01.head()

,Requisition No,Wo No,Pr Line No,Pr Status,Req Name,Template Id,Part No,Inv/non-inv,Description,Qty Pr,...,Planned Receipt Date,Wanted Delivery Date,Planned Delivery Date,Promised Delivery Date,Reception Date,Closed Date,On Hand Qty,Order Point Qty,Lot Size,Lead Time
0,1377659,NaN,1,PO Created,"Munoz Saldarriaga, Daniel Leonardo",34-REQMAIN,34-DI-GP-0004,Inv,GASOLINA 95 OCTANOS,3000.0,...,3/01/2015,3/01/2015,3/01/2015,3/01/2015,2/02/2015 05:58 p. m.,2/02/2015 05:59 p. m.,1711.874,0.0,0.0,0.0
1,1377699,1457724 Work Order,1,PO Created,JOSE AGUSTIN RAMOS,34-REQMAIN,34-SR-GP-0143,Non-Inv,Servicio de reparación de un (01) arrancador d...,1.0,...,14/01/2015,14/01/2015,14/01/2015,14/01/2015,15/01/2015 08:32 a. m.,15/01/2015 08:32 a. m.,0.000,NaN,NaN,NaN
2,1377704,Mantenimiento,1,PO Created,"Villegas, Adelky Fernando",34-REQMAIN,34-SR-GP-0178,Non-Inv,SERVICIO MANTENIMIENTO - OBRAS CIVILES-01 Alba...,1.0,...,31/01/2015,31/01/2015,31/01/2015,31/01/2015,20/02/2015 10:45 a. m.,20/02/2015 10:46 a. m.,0.000,NaN,NaN,NaN
3,1378070,Mantenimiento-Obras Civil,1,PO Created,"Villegas, Adelky Fernando",34-REQMAIN,34-SR-GP-0178,Non-Inv,SERVICIO MANTENIMIENTO - OBRAS CIVILES - CONTR...,1.0,...,18/05/2015,18/05/2015,18/05/2015,18/05/2015,21/05/2015 08:18 a. m.,21/05/2015 08:18 a. m.,0.000,NaN,NaN,NaN
4,1378574,NaN,1,PO Created,Kiara Farfan,34-REQHSSE,34-SR-GP-0126,Non-Inv,CAPACITACION HSSE ( CAPACITACION DE BREZEA SER...,1.0,...,31/12/2015,31/12/2015,31/12/2015,31/12/2015,22/12/2015 01:52 p. m.,2/02/2016 12:03 a. m.,0.000,NaN,NaN,NaN

In [4]:
df_02.head()

,Requisition No,Wo No,Pr Line No,Pr Status,Req Name,Template Id,Part No,Inv/non-inv,Description,Qty Pr,...,Planned Receipt Date,Wanted Delivery Date,Planned Delivery Date,Promised Delivery Date,Reception Date,Closed Date,On Hand Qty,Order Point Qty,Lot Size,Lead Time
0,2223996,2204696 Work Order,1,PO Created,"Rondon, Andrea",34-REQMAIN,34-SR-GP-0241,Non-Inv,RS09 - Servicio de instalación de tomas rápida...,1.0,...,7/02/2019,7/02/2019,7/02/2019,7/02/2019,NaN,NaN,0.0,NaN,NaN,NaN
1,2223998,2204695 Work Order,1,PO Created,"Rondon, Andrea",34-REQMAIN,34-SR-GP-0241,Non-Inv,RS08 - Servicio de instalación de tomas acople...,1.0,...,7/02/2019,7/02/2019,7/02/2019,7/02/2019,NaN,NaN,0.0,NaN,NaN,NaN
2,2224000,2204694 Work Order,1,PO Created,"Rondon, Andrea",34-REQMAIN,34-SR-GP-0241,Non-Inv,RS07 - Servicio de instalación de tomas de aco...,1.0,...,7/02/2019,7/02/2019,7/02/2019,7/02/2019,NaN,NaN,0.0,NaN,NaN,NaN
3,2224017,2204626 Work Order,1,PO Created,"Morales, Percy",34-REQMAIN,34-MI-GP-0718,Inv,PASTA EN TUBO DISIPADOR DE CALOR WPS II 4GR AU...,4.0,...,28/02/2019,28/02/2019,28/02/2019,28/02/2019,25/02/2019 12:05 p. m.,25/02/2019 12:05 p. m.,4.0,0.0,0.0,177.0
4,2224058,2204992 Work Order,1,PO Created,"Moscoso, Dennis",34-REQMAIN,34-MI-GP-0276,Inv,PIEDRA CHANCADA,20.0,...,24/01/2019,24/01/2019,24/01/2019,24/01/2019,22/01/2019 11:36 a. m.,22/01/2019 11:37 a. m.,0.0,0.0,0.0,0.0

In [5]:
df_03.head()

        Fecha  Último Apertura  Máximo  Mínimo  % var.
0  08.04.2022  0,2691   0,2693  0,2705  0,2690   0,05%
1  07.04.2022  0,2690   0,2688  0,2693  0,2688  -0,48%
2  06.04.2022  0,2703   0,2704  0,2706  0,2702   0,00%
3  05.04.2022  0,2703   0,2745  0,2747  0,2700  -1,82%
4  04.04.2022  0,2753   0,2748  0,2763  0,2746   0,33%

##### VALIDATE IF BOTH FILE HAS THE SAME QUANTITY OF COLUMNS

In [6]:
print(len(df_01.columns) == len(df_02.columns))

True

#### IDENTIFY QUANTITIES PER COLUMN - DATA FRAME 01

In [7]:
print(df_01['Requisition No'].count())

37059

In [8]:
df_data_01_validate = df_01.count().reset_index()

In [9]:
df_data_01_validate['max_value'] = df_01['Requisition No'].count()

In [10]:
df_data_01_validate['difference'] = df_data_01_validate[0] - df_data_01_validate['max_value']

In [11]:
data_01_with_diference_registers = df_data_01_validate[df_data_01_validate.difference < -1]
data_01_with_diference_registers

                         index      0  max_value  difference
1                        Wo No  22726      37059      -14333
5                  Template Id  37038      37059         -21
11                    Purh U/m  19632      37059      -17427
12       Delivery Control Code   4717      37059      -32342
13  Delivery Control Code Desc   4717      37059      -32342
14             Order Proc Type     58      37059      -37001
15          Order Proc Descrip     58      37059      -37001
16                Supp Contact   7359      37059      -29700
18            Pr Approval Date  37000      37059         -59
19                   Note Text   7296      37059      -29763
36              Part Ownership  37057      37059          -2
38             Planning Method  20089      37059      -16970
40            Po Approval Date  35878      37059       -1181
41           Po Confirmed Date  34249      37059       -2810
46              Reception Date  33679      37059       -3380
47                 Closed Date  34228      37059       -2831
49             Order Point Qty  20089      37059      -16970
50                    Lot Size  20089      37059      -16970
51                   Lead Time  20089      37059      -16970

In [ ]:
for c in df_01.columns:
    print(c,'|', df_01[c].dtype)

In [12]:
print(df_01.dtypes)

Requisition No                  int64
Wo No                          object
Pr Line No                      int64
Pr Status                      object
Req Name                       object
Template Id                    object
Part No                        object
Inv/non-inv                    object
Description                    object
Qty Pr                        float64
Qty Po                        float64
Purh U/m                       object
Delivery Control Code          object
Delivery Control Code Desc     object
Order Proc Type                object
Order Proc Descrip             object
Supp Contact                   object
Buyer Code                     object
Pr Approval Date               object
Note Text                      object
Order No                       object
Po Line No                      int64
Release No                      int64
Order Date                     object
Po Status                      object
Supplier Id                    object
Supplier Name                  object
Buyer                          object
Co Id                          object
Co Name                        object
Price/curr                    float64
Net Amt/curr                  float64
Currency                       object
Price/base                    float64
Net Amt/base                  float64
Delivery Term                  object
Part Ownership                 object
Demand Code                    object
Planning Method                object
Pur Qty To Rec                  int64
Po Approval Date               object
Po Confirmed Date              object
Planned Receipt Date           object
Wanted Delivery Date           object
Planned Delivery Date          object
Promised Delivery Date         object
Reception Date                 object
Closed Date                    object
On Hand Qty                   float64
Order Point Qty               float64
Lot Size                      float64
Lead Time                     float64
dtype: object

#### IDENTIFY QUANTITY - DATA FRAME 02

In [13]:
print(df_02['Requisition No'].count())

34952

In [14]:
df_data_02_validate = df_02.count().reset_index()

In [15]:
df_data_02_validate['max_value'] = df_02['Requisition No'].count()

In [16]:
df_data_02_validate['difference'] = df_data_02_validate[0] - df_data_02_validate['max_value']

In [17]:
data_02_with_diference_registers = df_data_02_validate[df_data_02_validate.difference < -1]
data_02_with_diference_registers

                         index      0  max_value  difference
1                        Wo No  21398      34952      -13554
5                  Template Id  34462      34952        -490
6                      Part No  34950      34952          -2
10                      Qty Po  33873      34952       -1079
11                    Purh U/m  16705      34952      -18247
12       Delivery Control Code  30621      34952       -4331
13  Delivery Control Code Desc  30621      34952       -4331
14             Order Proc Type  21680      34952      -13272
15          Order Proc Descrip  21680      34952      -13272
16                Supp Contact  27774      34952       -7178
18            Pr Approval Date  34296      34952        -656
19                   Note Text  11702      34952      -23250
20                    Order No  33873      34952       -1079
21                  Po Line No  33873      34952       -1079
22                  Release No  33873      34952       -1079
23                  Order Date  33873      34952       -1079
24                   Po Status  33873      34952       -1079
25                 Supplier Id  33873      34952       -1079
26               Supplier Name  34946      34952          -6
27                       Buyer  33873      34952       -1079
28                       Co Id  33873      34952       -1079
29                     Co Name  33873      34952       -1079
30                  Price/curr  33873      34952       -1079
32                    Currency  33873      34952       -1079
33                  Price/base  33873      34952       -1079
34                Net Amt/base  33873      34952       -1079
35               Delivery Term  33873      34952       -1079
36              Part Ownership  33871      34952       -1081
37                 Demand Code  33873      34952       -1079
38             Planning Method  15547      34952      -19405
40            Po Approval Date  33327      34952       -1625
41           Po Confirmed Date  26445      34952       -8507
42        Planned Receipt Date  33873      34952       -1079
43        Wanted Delivery Date  33873      34952       -1079
44       Planned Delivery Date  33873      34952       -1079
45      Promised Delivery Date  33873      34952       -1079
46              Reception Date  29426      34952       -5526
47                 Closed Date  28970      34952       -5982
49             Order Point Qty  16215      34952      -18737
50                    Lot Size  16215      34952      -18737
51                   Lead Time  16215      34952      -18737

In [18]:
for c in df_02.columns:
    print(c,'|', df_02[c].dtype)

Requisition No | int64
Wo No | object
Pr Line No | int64
Pr Status | object
Req Name | object
Template Id | object
Part No | object
Inv/non-inv | object
Description | object
Qty Pr | float64
Qty Po | float64
Purh U/m | object
Delivery Control Code | object
Delivery Control Code Desc | object
Order Proc Type | object
Order Proc Descrip | object
Supp Contact | object
Buyer Code | object
Pr Approval Date | object
Note Text | object
Order No | object
Po Line No | float64
Release No | float64
Order Date | object
Po Status | object
Supplier Id | object
Supplier Name | object
Buyer | object
Co Id | object
Co Name | object
Price/curr | float64
Net Amt/curr | float64
Currency | object
Price/base | float64
Net Amt/base | float64
Delivery Term | object
Part Ownership | object
Demand Code | object
Planning Method | object
Pur Qty To Rec | float64
Po Approval Date | object
Po Confirmed Date | object
Planned Receipt Date | object
Wanted Delivery Date | object
Planned Delivery Date | object
Promised Delivery Date | object
Reception Date | object
Closed Date | object
On Hand Qty | float64
Order Point Qty | float64
Lot Size | float64
Lead Time | float64

In [19]:
print(df_02.dtypes)

Requisition No                  int64
Wo No                          object
Pr Line No                      int64
Pr Status                      object
Req Name                       object
Template Id                    object
Part No                        object
Inv/non-inv                    object
Description                    object
Qty Pr                        float64
Qty Po                        float64
Purh U/m                       object
Delivery Control Code          object
Delivery Control Code Desc     object
Order Proc Type                object
Order Proc Descrip             object
Supp Contact                   object
Buyer Code                     object
Pr Approval Date               object
Note Text                      object
Order No                       object
Po Line No                    float64
Release No                    float64
Order Date                     object
Po Status                      object
Supplier Id                    object
Supplier Name                  object
Buyer                          object
Co Id                          object
Co Name                        object
Price/curr                    float64
Net Amt/curr                  float64
Currency                       object
Price/base                    float64
Net Amt/base                  float64
Delivery Term                  object
Part Ownership                 object
Demand Code                    object
Planning Method                object
Pur Qty To Rec                float64
Po Approval Date               object
Po Confirmed Date              object
Planned Receipt Date           object
Wanted Delivery Date           object
Planned Delivery Date          object
Promised Delivery Date         object
Reception Date                 object
Closed Date                    object
On Hand Qty                   float64
Order Point Qty               float64
Lot Size                      float64
Lead Time                     float64
dtype: object

#### MERGE THE 2 DATA FRAME
    # WE HAVE A PROBLEM BECAUSE COLUMNS HAVE DIFFERENCE DATATYPE
    # ERROR: DATA HAVE NOT LOADED
    # SOLUTION: STANDARDISE THE DATAFRAME COLUMNS

In [20]:
df_total = df_01.merge(df_02)

C:\Users\JorgePalacios\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1151: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

In [21]:
df_total

Empty DataFrame
Columns: [Requisition No, Wo No, Pr Line No, Pr Status, Req Name, Template Id, Part No, Inv/non-inv, Description, Qty Pr, Qty Po, Purh U/m, Delivery Control Code, Delivery Control Code Desc, Order Proc Type, Order Proc Descrip, Supp Contact, Buyer Code, Pr Approval Date, Note Text, Order No, Po Line No, Release No, Order Date, Po Status, Supplier Id, Supplier Name, Buyer, Co Id, Co Name, Price/curr, Net Amt/curr, Currency, Price/base, Net Amt/base, Delivery Term, Part Ownership, Demand Code, Planning Method, Pur Qty To Rec, Po Approval Date, Po Confirmed Date, Planned Receipt Date, Wanted Delivery Date, Planned Delivery Date, Promised Delivery Date, Reception Date, Closed Date, On Hand Qty, Order Point Qty, Lot Size, Lead Time]
Index: []

[0 rows x 52 columns]

    # CONVERT DICTIONARY

In [22]:
convert_dict = {'Po Line No': float,
                'Release No': float,
                'Pur Qty To Rec': float
               }

In [23]:
df_01 = df_01.astype(convert_dict)
print(df_01.dtypes)

Requisition No                  int64
Wo No                          object
Pr Line No                      int64
Pr Status                      object
Req Name                       object
Template Id                    object
Part No                        object
Inv/non-inv                    object
Description                    object
Qty Pr                        float64
Qty Po                        float64
Purh U/m                       object
Delivery Control Code          object
Delivery Control Code Desc     object
Order Proc Type                object
Order Proc Descrip             object
Supp Contact                   object
Buyer Code                     object
Pr Approval Date               object
Note Text                      object
Order No                       object
Po Line No                    float64
Release No                    float64
Order Date                     object
Po Status                      object
Supplier Id                    object
Supplier Name                  object
Buyer                          object
Co Id                          object
Co Name                        object
Price/curr                    float64
Net Amt/curr                  float64
Currency                       object
Price/base                    float64
Net Amt/base                  float64
Delivery Term                  object
Part Ownership                 object
Demand Code                    object
Planning Method                object
Pur Qty To Rec                float64
Po Approval Date               object
Po Confirmed Date              object
Planned Receipt Date           object
Wanted Delivery Date           object
Planned Delivery Date          object
Promised Delivery Date         object
Reception Date                 object
Closed Date                    object
On Hand Qty                   float64
Order Point Qty               float64
Lot Size                      float64
Lead Time                     float64
dtype: object

In [24]:
df_total = df_01.append(df_02)
df_total.head()

,Requisition No,Wo No,Pr Line No,Pr Status,Req Name,Template Id,Part No,Inv/non-inv,Description,Qty Pr,...,Planned Receipt Date,Wanted Delivery Date,Planned Delivery Date,Promised Delivery Date,Reception Date,Closed Date,On Hand Qty,Order Point Qty,Lot Size,Lead Time
0,1377659,NaN,1,PO Created,"Munoz Saldarriaga, Daniel Leonardo",34-REQMAIN,34-DI-GP-0004,Inv,GASOLINA 95 OCTANOS,3000.0,...,3/01/2015,3/01/2015,3/01/2015,3/01/2015,2/02/2015 05:58 p. m.,2/02/2015 05:59 p. m.,1711.874,0.0,0.0,0.0
1,1377699,1457724 Work Order,1,PO Created,JOSE AGUSTIN RAMOS,34-REQMAIN,34-SR-GP-0143,Non-Inv,Servicio de reparación de un (01) arrancador d...,1.0,...,14/01/2015,14/01/2015,14/01/2015,14/01/2015,15/01/2015 08:32 a. m.,15/01/2015 08:32 a. m.,0.000,NaN,NaN,NaN
2,1377704,Mantenimiento,1,PO Created,"Villegas, Adelky Fernando",34-REQMAIN,34-SR-GP-0178,Non-Inv,SERVICIO MANTENIMIENTO - OBRAS CIVILES-01 Alba...,1.0,...,31/01/2015,31/01/2015,31/01/2015,31/01/2015,20/02/2015 10:45 a. m.,20/02/2015 10:46 a. m.,0.000,NaN,NaN,NaN
3,1378070,Mantenimiento-Obras Civil,1,PO Created,"Villegas, Adelky Fernando",34-REQMAIN,34-SR-GP-0178,Non-Inv,SERVICIO MANTENIMIENTO - OBRAS CIVILES - CONTR...,1.0,...,18/05/2015,18/05/2015,18/05/2015,18/05/2015,21/05/2015 08:18 a. m.,21/05/2015 08:18 a. m.,0.000,NaN,NaN,NaN
4,1378574,NaN,1,PO Created,Kiara Farfan,34-REQHSSE,34-SR-GP-0126,Non-Inv,CAPACITACION HSSE ( CAPACITACION DE BREZEA SER...,1.0,...,31/12/2015,31/12/2015,31/12/2015,31/12/2015,22/12/2015 01:52 p. m.,2/02/2016 12:03 a. m.,0.000,NaN,NaN,NaN

In [25]:
df_total['Requisition No'].count()

72011

In [26]:
df_total['unique_id'] = df_total['Requisition No'].map(str) + '_' + df_total['Pr Line No'].map(str) + '_' + df_total['Order No'].map(str)

In [27]:
df_total['unique_id'].head(10).reset_index()

   index        unique_id
0      0  1377659_1_R8741
1      1  1377699_1_R8808
2      2  1377704_1_R8755
3      3  1378070_1_R9417
4      4  1378574_1_R8814
5      5  1378576_1_R9007
6      6  1378580_1_R9521
7      7  1378581_1_R8833
8      8  1378589_1_R8745
9      9  1378609_1_R8999

In [28]:
df_total['unique_id'].nunique()

72011

In [92]:
df_total['Pr Approval Date'] = pd.to_datetime(df_total['Pr Approval Date']).dt.date
df_total['Order Date'] = pd.to_datetime(df_total['Order Date']).dt.date
df_total['Po Approval Date'] = pd.to_datetime(df_total['Po Approval Date'],format="%Y/%m/%d").dt.date
df_total['Po Confirmed Date'] = pd.to_datetime(df_total['Po Confirmed Date'],format="%Y/%m/%d").dt.date
df_total['Planned Receipt Date'] = pd.to_datetime(df_total['Planned Receipt Date'],format="%Y/%m/%d").dt.date
df_total['Reception Date'] = pd.to_datetime(df_total['Reception Date'],format="%Y/%m/%d").dt.date
df_total['Closed Date'] = pd.to_datetime(df_total['Closed Date'],format="%Y/%m/%d").dt.date

In [93]:
df_total = df_total.astype({"Pr Approval Date": 'datetime64',
                            'Order Date': 'datetime64',
                            'Po Approval Date': 'datetime64',
                            'Po Confirmed Date': 'datetime64',
                            'Planned Receipt Date': 'datetime64',
                            'Reception Date': 'datetime64',
                            'Closed Date': 'datetime64'})

In [95]:
df_total.dtypes

Requisition No                         int64
Wo No                                 object
Pr Line No                             int64
Pr Status                             object
Req Name                              object
Template Id                           object
Part No                               object
Inv/non-inv                           object
Description                           object
Qty Pr                               float64
Qty Po                               float64
Purh U/m                              object
Delivery Control Code                 object
Delivery Control Code Desc            object
Order Proc Type                       object
Order Proc Descrip                    object
Supp Contact                          object
Buyer Code                            object
Pr Approval Date              datetime64[ns]
Note Text                             object
Order No                              object
Po Line No                           float64
Release No                           float64
Order Date                    datetime64[ns]
Po Status                             object
Supplier Id                           object
Supplier Name                         object
Buyer                                 object
Co Id                                 object
Co Name                               object
Price/curr                           float64
Net Amt/curr                         float64
Currency                              object
Price/base                           float64
Net Amt/base                         float64
Delivery Term                         object
Part Ownership                        object
Demand Code                           object
Planning Method                       object
Pur Qty To Rec                       float64
Po Approval Date              datetime64[ns]
Po Confirmed Date             datetime64[ns]
Planned Receipt Date          datetime64[ns]
Wanted Delivery Date                  object
Planned Delivery Date                 object
Promised Delivery Date                object
Reception Date                datetime64[ns]
Closed Date                   datetime64[ns]
On Hand Qty                          float64
Order Point Qty                      float64
Lot Size                             float64
Lead Time                            float64
unique_id                             object
dtype: object

### VARIABLES  THAT COULD BE DELETED
    # There don´t have a correct

In [99]:
## df_total['Wanted Delivery Date'] = pd.to_datetime(df_total['Wanted Delivery Date']).dt.date
## 'Wanted Delivery Date': 'datetime64',
## df_total['Planned Delivery Date'] = pd.to_datetime(df_total['Planned Delivery Date']).dt.date
## 'Planned Receipt Date': 'datetime64',
## df_total['Promised Delivery Date'] = pd.to_datetime(df_total['Promised Delivery Date']).dt.date
## 'Promised Delivery Date': 'datetime64',

df_total.pop('Wanted Delivery Date')
df_total.pop('Planned Delivery Date')
df_total.pop('Promised Delivery Date')

0         3/01/2015
1        14/01/2015
2        31/01/2015
3        18/05/2015
4        31/12/2015
            ...
34947           NaN
34948           NaN
34949           NaN
34950           NaN
34951           NaN
Name: Promised Delivery Date, Length: 72011, dtype: object

In [113]:
df_total_response_day = df_total[['Description','Order Date','Po Confirmed Date','response_day','Pr Approval Date',
          'Planned Receipt Date','Reception Date','Closed Date']]
df_total_response_day.sort_values('response_day').head(40)

,Description,Order Date,Po Confirmed Date,response_day,Pr Approval Date,Planned Receipt Date,Reception Date,Closed Date
13815,GASOLINA 95 OCTANOS,2016-12-14,2021-08-24,-1714 days,2016-05-12,2017-01-14,NaT,2021-08-24
17124,BUJE DE LA CUBIERTA DELANTERA N/P 29549294,2017-06-04,2021-10-03,-1582 days,2017-03-21,2017-10-06,2021-03-19,2021-03-19
17123,STRAIGHT THROUGH S&G KIT N/P 29550017,2017-06-04,2021-10-03,-1582 days,2017-03-21,2017-10-06,2021-03-19,2021-03-19
17122,KIT DE CONTROL MOD S&G N/P 29554915,2017-06-04,2021-10-03,-1582 days,2017-03-21,2017-10-06,2021-03-19,2021-03-19
17121,PERNO M10 x 1.5 x 35 N/P 11514355,2017-06-04,2021-10-03,-1582 days,2017-03-21,2017-10-06,2021-03-19,2021-03-19
17120,PERNO N/P 29537507,2017-06-04,2021-10-03,-1582 days,2017-03-21,2017-10-06,2021-03-19,2021-03-19
17119,TUERCA DE CONVERTIDOR N/P 29501339,2017-06-04,2021-10-03,-1582 days,2017-03-21,2017-10-06,2021-03-19,2021-03-19
17118,SENSOR N/P 29543432,2017-06-04,2021-10-03,-1582 days,2017-03-21,2017-10-06,2021-03-19,2021-03-19
1100,Servicio de suministro e instalacion de una (1...,2015-03-14,2018-10-18,-1314 days,2015-06-03,2015-03-20,NaT,2015-05-10
1221,Servicio de suministro e instalacion de una (1...,2015-03-14,2018-10-18,-1314 days,2015-09-03,2015-03-20,NaT,2015-05-10
1223,Servicio de suministro e instalacion de una (1...,2015-03-14,2018-10-18,-1314 days,2015-09-03,2015-03-20,NaT,NaT
1227,Servicio de suministro e instalacion de una (1...,2015-03-14,2018-10-18,-1314 days,2015-10-03,2015-03-20,NaT,NaT
1228,Servicio de suministro e instalacion de marco ...,2015-03-14,2018-10-18,-1314 days,2015-10-03,2015-03-20,NaT,2016-01-26
117,MANTENIMIENTO ANUAL DE LICENCIAS SYGNUS 2015,2015-01-27,2018-07-18,-1268 days,2015-01-19,2015-12-31,NaT,2015-01-29
99,ELABORACION DE LETRERO VINL MATE 130CM X 90 CM...,2015-07-01,2018-12-06,-1254 days,2015-07-01,2015-08-01,NaT,2018-12-06
3430,FORMATOS IMPRESOS: Stickers para Boletin Corpo...,2015-07-14,2018-12-06,-1241 days,2015-07-13,2015-07-15,NaT,2018-12-06
796,PAGO RECARGA PROVIS TEBCA PERU,2015-02-24,2018-07-18,-1240 days,2015-02-17,2015-02-28,NaT,2015-02-25
3312,PAPEL MEMBRETADO A4 DE 90 GRS * MILLAR,2015-07-16,2018-12-06,-1239 days,2015-06-07,2015-07-17,NaT,2018-12-06
1413,CABLE DE COMUNICACION PC-USB - SCHNEIDER: SR2U...,2015-03-23,2018-07-16,-1211 days,2015-03-20,2015-03-20,NaT,2015-01-04
1466,ATENCION AL PERSONAL (ALMUERZO PARA PERSONAL T...,2015-03-25,2018-07-16,-1209 days,2015-03-25,2015-03-26,NaT,2015-05-05
34862,SERVICIO DE FABRICACION E INSTALACION DE MANGU...,2018-01-10,2021-04-26,-1202 days,2018-09-30,2018-10-23,NaT,2021-04-26
3802,PUBLICIDAD Y PUBLICACIONES: Suplemento Especia...,2015-09-28,2018-12-06,-1165 days,2015-08-20,2015-09-30,NaT,2018-12-06
4620,PAPEL BOND INKJET 80 GR A4 (papel troquelado p...,2015-06-10,2018-07-13,-1129 days,2015-05-10,2016-08-15,NaT,2017-02-28
2379,COFEE BREAK - CAMPAÑA HC,2015-12-05,2018-12-06,-1097 days,2015-11-05,2015-05-30,NaT,2018-12-06
3420,ALQUILER DISPENSADORES DE AGUA 9 UND X 12 MESE...,2015-07-17,2018-07-13,-1092 days,2015-11-07,2015-11-07,NaT,2016-11-21
5801,ALQUILER DE CAMIONETA PARA AUXILIO MECANICO M...,2015-12-15,2018-12-06,-1087 days,2015-12-14,2015-12-24,NaT,2018-12-06
3699,Flete por servicio de excavadora,2015-08-18,2018-07-18,-1065 days,2015-08-14,2015-08-08,NaT,2018-07-18
3698,Alquiler de excavadora por hora,2015-08-18,2018-07-18,-1065 days,2015-08-14,2015-08-13,NaT,2018-07-18
1584,Estabilizador para uso de SanaMakina,2015-09-04,2018-07-16,-1046 days,2015-09-04,2015-10-04,NaT,2015-04-14
1608,Renovación servicio GPS PLACA D4H418 Toyota 4 ...,2015-09-04,2018-07-16,-1046 days,2015-09-04,2015-10-04,NaT,2015-04-14
4162,Cisco Audio Extension Cable CAB-MIC20-EXT - Bo...,2015-09-15,2018-07-13,-1032 days,2015-11-09,2015-09-17,NaT,2017-02-28
11448,Baterias de 9V,2016-02-09,2018-11-27,-1022 days,2016-08-27,2016-09-09,NaT,2016-09-23
11447,Pilas alcalinas AA,2016-02-09,2018-11-27,-1022 days,2016-08-27,2016-09-09,NaT,2016-09-23
11446,Pilas alacalinas AAA,2016-02-09,2018-11-27,-1022 days,2016-08-27,2016-09-09,NaT,2016-09-23
36282,Guardianía del portón B-Atlas que se encuentra...,2018-11-14,2021-08-24,-1014 days,2018-11-13,2018-06-12,NaT,2021-08-24
7195,Indicador para celdas Digitales - BALANZA 2C,2016-02-22,2018-10-18,-969 days,2016-12-02,2016-02-23,NaT,2016-09-05
7187,Indicador para celdas Digitales - BALANZA 2H,2016-02-22,2018-10-18,-969 days,2016-12-02,2016-02-23,NaT,2016-09-05
27071,PAGO POR REPARACION POR SINIESTRO 598898 D8N ...,2018-09-02,2021-04-26,-967 days,2018-01-02,2018-02-15,NaT,2021-04-26
32936,BLD048 - Servicio de Calibracion: Rastreador d...,2018-09-26,2021-04-26,-943 days,2018-01-08,2018-10-24,NaT,2021-04-26
36446,Paneton 900g Bolsa Bimbo,2018-11-26,2021-04-26,-882 days,2018-11-20,2018-12-17,NaT,2021-04-26

In [109]:
df_total['response_day'] = df_total['Order Date'] - df_total['Po Confirmed Date']

In [ ]:
## QUANTITY OF REGISTER BY EACH COLUMN

In [107]:
df_total_register_by_column = df_total.count().reset_index()

In [108]:
df_total_register_by_column.head()

            index      0
0  Requisition No  72011
1           Wo No  44124
2      Pr Line No  72011
3       Pr Status  72011
4        Req Name  72011

#### IDENTIFY THE MAX VALUE AND COMPARE WITH THE OTHER COLUMNS

In [ ]:
df_total_register_by_column['max_value'] = df_total_register_by_column[0].max()

In [ ]:
df_total_register_by_column['difference'] = df_total_register_by_column[0] - df_total_register_by_column['max_value']

In [ ]:
df_total_register_by_column

In [ ]:
df_data_total_with_diference_registers = df_total_register_by_column[df_total_register_by_column.difference < -1]
df_data_total_with_diference_registers.sort_values('difference')

In [ ]:
df_total['Po Approval Date'] = pd.to_datetime(df_total['Po Approval Date'])
df_total['year_id'] = df_total['Po Approval Date'].dt.year
df_total['month_id'] = df_total['Po Approval Date'].dt.month
df_total['day'] = df_total['Po Approval Date'].dt.day

In [ ]:
df_total.head()

In [ ]:
df_total[['Po Approval Date','year_id','month_id']]

In [ ]:
df_total['year_id'].hist(bins=30)

In [ ]:
plt.hist(df_total['year_id'], bins=30);

In [ ]:
fig = plt.figure(figsize=(6,8))
fig , ax = plt.subplots(1,2)

plt.subplot(2,2,1)
plt.hist(df_total['year_id'], bins=15);
plt.title('By year')

plt.subplot(2,2,2)
plt.hist(df_total['month_id'], bins=15);
plt.title('By month')

In [ ]:
print(df_total['Requisition No'].count())

In [ ]:
df_total.groupby(['year_id','month_id'])['Requisition No'].count().reset_index().head(12)

In [ ]:
df_total.groupby(['year_id'])['Requisition No'].count().reset_index().head(10)

In [ ]:
df_total.groupby('year_id')['Requisition No'].count().plot(legend=True)

In [ ]:
data_area_requisition = df_total.groupby(['Template Id'])['Requisition No'].count().reset_index()

In [ ]:
data_area_requisition = data_area_requisition.sort_values(['Requisition No'],ascending=False)

In [ ]:
data_area_requisition.plot(x ='Template Id', y='Requisition No')

In [ ]:
data_year_area = df_total.groupby(['year_id','Template Id'])['Requisition No'].count().reset_index()

In [ ]:
data_year_area.sort_values(['year_id','Requisition No'],ascending=False)

In [ ]:
data_year_area.plot(x ='year_id', y='Requisition No')

In [ ]:
data_year_supplier = df_total.groupby(['year_id','Supplier Name'])['Requisition No'].count().reset_index()

In [ ]:
data_year_supplier = data_year_supplier.sort_values(['year_id','Requisition No'],ascending=False)

In [ ]:
data_year_supplier.plot(x ='Supplier Name', y='Requisition No')

In [ ]:
df_total['Order Date'] = pd.to_datetime(df_total['Order Date']).dt.date
df_total['Po Approval Date'] = pd.to_datetime(df_total['Po Approval Date']).dt.date
df_total['Planned Receipt Date'] = pd.to_datetime(df_total['Planned Receipt Date']).dt.date
df_total['Reception Date'] = pd.to_datetime(df_total['Reception Date']).dt.date

In [ ]:
df_total[['Order Date','Po Approval Date','Planned Receipt Date','Reception Date','Lead Time']].head(10)

In [ ]:
df_total['compliance'] = df_total['Planned Receipt Date'] - df_total['Reception Date']

In [ ]:
df_total[['Order Date','Po Approval Date','Planned Receipt Date','Reception Date','Lead Time','compliance']].head(10)

In [ ]:
df_group_1.sort_values(by='referencia', ascending = False)